.filmografi_container {
  margin-top: 4rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  .return_link {
    text-decoration: none;
    color: $nav-links;
    text-transform: uppercase;
    font-family: Open Sans Condensed;
    letter-spacing: 4px;
    transition: 2s ease;
    display: inline-block;
    position: relative;
    margin: 1rem 0rem;
  }
  .return_link:after {
    content: "";
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 1px;
    bottom: -5px;
    left: 0;
    background-color: $nav-links;
    transform-origin: right;
    transition: transform 0.25s ease-out;
  }
  .return_link:hover:after {
    transform: scaleX(1);
    transform-origin: left;
  }
  .films {
    display: flex;
    flex-direction: column;
    align-items: center;
    iframe {
      width: 400px;
      height: 300px;
      margin: 1rem;
    }
  }
}

@media only screen and (min-width: 800px) {
  .filmografi_container {
    .films {
      iframe {
        width: 1200px;
        height: 500px;
      }
    }
  }
}
