$background-1: #f3f3f3;
$background-2: #edeeea;
$background-dark: rgb(27, 27, 27);
$nav-links: rgb(80, 80, 80);
$nav-background: #d8cac5;
$logo-default: #b29990;
$styled-text: #c7b373;
$text: rgb(48, 48, 48);
$white-text: white;
